@media screen and (max-width: 1199px) {
	h1 {
	    font-size: 26px;
	    line-height: 20px;
	}

	p {
		line-height: 22px;
	}

	.top-panel__lang {
		font-size: 11px;
		padding: 22px 0 0 12px;
	}

	.header-docs {
		padding: 50px 0 30px 0;
	}

	.navbar-default .navbar-nav li {
		margin-left: 18px;
	}

	.navbar-default .navbar-nav li a {
		font-size: 15px;
	}

	.content {
		background: #f6f6f6 url(../img/bg.png) no-repeat center 98.5%;
	    -webkit-background-size: 100% 132px;
	    background-size: 100% 132px;
	    padding-bottom: 100px;		
	}

	.content__inner {
		padding-left: 70px;
		margin-top: 150px;
	}

	.content__caption {
		font-size: 15px;
		line-height: 22px;
	}

	.content__title  {
	    font-size: 52px;
	    line-height: 40px;
	}

	.content__title_little {
	    font-size: 40px;
	    line-height: 40px;
	}

	.content__text {
		font-size: 18px;
		line-height: 25px;
	}

	.content__link {
	    width: 220px;
	    height: 50px;
	    font-size: 18px;
	    padding: 11px 0 13px 0;
	}

	.product {
		padding-bottom: 60px;
	}

	.product h1 {
		padding: 0 0 30px 0;
	}

	.form__input {
	    width: 150px;
	    height: 40px;
	}

	.form__btn {
	    width: 150px;
	    height: 40px;
	}

	.alert {
    	padding: 15px 0 15px 15px;
    }

    .alert__title {
	    font-size: 15px;
	}

	.alert__text {
	    font-size: 15px;
	}

	.product__sticker-title {
		font-size: 13px;
		line-height: 15px;
	}

	.accordion__btn_number {
		font-size: 16px;
	}

	.accordion__btn_title {
		max-width: 760px;
	}

	.accordion__btn {
	    font-size: 16px;
	}

	.partners {
		padding-bottom: 60px;
	}

	.partners__wrapper {
	    padding: 15px 0 28px 15px;
	}

	.partners__name {
		font-size: 22px;
	}

	.partners__link, 
	.partners__email {
		font-size: 15px;
	}

	.video__wrapper {
    	margin-bottom: 50px;
	}

	.video img {
		height: 200px;
	}

	.video__caption {
	    font-size: 16px;
	    margin-top: 15px;
	}

	.articles__head {
		font-size: 22px;
	}

	.articles__date {
		font-size: 13px;
		line-height: 18px;
	}

	.articles__text {
		font-size: 14px;
	}

	.articles__link {
	    font-size: 15px;
	    margin-top: 26px;
	}

	.article__motivation {
		margin-bottom: 30px;
	}

	.article__text {
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 25px;
	}

	.article__img_caption {
		margin-bottom: 30px;
	}

	.article__title_little {
		font-size: 22px;
	}

	.footer {
		padding-top: 35px;
		padding-bottom: 36px;
	}

	.fancybox-close {
		top: 0;
		right: -66px;
	}
}

@media screen and (max-width: 991px) {
	h1 {
	    font-size: 24px;
	    line-height: 20px;
		padding: 50px 0 30px 0;
	}

	p {
		font-size: 15px;
		line-height: 20px;
	}

	.top-panel__lang {
		font-size: 10px;
	}

	.header-docs {
		padding: 45px 0 25px 0;
	}

	.navbar-default .navbar-nav {
		margin: 1px 0 0 0;
	}

	.navbar-default .navbar-nav li {
		margin-left: 14px;
	}

	.navbar-default .navbar-nav li a {
		font-size: 13px;
	}

	.content {
		background: #f6f6f6 url(../img/bg.png) no-repeat center 95.5%;
	    -webkit-background-size: 100% 115px;
	    background-size: 100% 115px;
	    padding-bottom: 100px;		
	}

	.content__img {
	    margin-top: 50px;
	}

	.content__inner {
		padding-left: 0;
		margin-top: 140px;
	}

	.content__caption {
		font-size: 14px;
	}

	.content__title {
		font-size: 50px;
	}

	.content__title_little {
		font-size: 40px;
	}

	.content__text {
		font-size: 16px;
	}

	.content__link {
	    width: 200px;
	    height: 45px;
	    font-size: 16px;
	    padding: 9px 0;
	    margin-top: 25px;
	}

	.product {
		padding-bottom: 55px;
	}

	.form__input {
	    width: 130px;
	    height: 35px;
	    margin-right: 15px;
	}

	.form__btn {
	    width: 130px;
	    height: 35px;
	}

	.alert {
    	padding: 12px 0 12px 12px;
    }

    .certificates__text {
    	font-size: 16px;
    }

	.accordion__btn_number {
		margin-right: 28px;
		font-size: 15px;
	}

	.accordion__content {
	    padding: 30px 65px;
	    font-size: 15px;
	    line-height: 20px;
	}

	.accordion__btn {
		font-size: 15px;
	    padding: 16px 30px;
	}

	.accordion__btn_title {
    	max-width: 550px;
	}	

	.accordion__btn_trigger {
		width: 4%;
	}

	.accordion__content_img img {
		width: 240px;
	}

	.partners {
		padding-bottom: 40px;
	}

	.partners__name {
		font-size: 20px;
	}

	.partners__link, 
	.partners__email {
		font-size: 14px;
	}

	.video {
		padding-bottom: 60px;
	}

	.video__wrapper {
    	margin-bottom: 40px;
	}

	.video img {
		height: 170px;
	}

	.video__caption {
	    font-size: 15px;
	    margin-top: 12px;
	}

	.articles__head {
		font-size: 18px;
		line-height: 22px;
	}

	.articles__date {
		font-size: 12px;
		line-height: 15px;
	}

	.articles__text {
		font-size: 13px;
		line-height: 22px;
	}

	.articles__link {
	    width: 130px;
	    height: 30px;
	    font-size: 14px;
	    padding: 5px 0;
	    margin-top: 25px;
	}

	.article {
		padding-bottom: 60px;
	}

	.article__text {
		font-size: 15px;
		line-height: 22px;
	}

	.article__title_little {
		padding: 45px 0 30px 0;
	}

	.fancybox-close {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 20px;
		padding: 40px 0 20px 0;
	}

	p {
		font-size: 14px;
	}

	.top-panel__lang {
		display: none;
	}

	.header {
		text-align: center;
		padding-top: 20px;
	}

	.header-docs {
		padding: 35px 0 15px 0;
	}

	.navbar-default {
		margin-top: 10px;
	}

	.navbar-default .navbar-header {
	    background: transparent;	
		text-align: center;
	}

	.navbar-default .navbar-toggle {
		margin: 15px 0px;
		border: 1px solid #413938;
		float: none;
		display: inline-block;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #413938;
		height: 3px;
		width: 24px;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus {
		background: none;
	}

	.navbar-default .navbar-collapse {
		border-top: none;
	}	
	
	.navbar-default .navbar-nav {
		float: none;
		text-align: center;
		padding: 0;
		margin: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

	.navbar-default .navbar-nav li {
		display: block;
		padding: 0;	
	    margin-left: 0;
	    padding: 6px 0;
	}

	.navbar-default .navbar-nav li a {
		-webkit-border-radius: 0;
		border-radius: 0;
		display: inline-block;
		font-size: 13px;
		padding: 0;
	}

	.content {
	    background: #f6f6f6;
	    padding-bottom: 30px;
	}

	.content__img {
		margin-top: 20px;
		max-width: 100%;
	}

	.content__inner {
		display: block;
		margin-top: 30px;
	}

	.content__title  {
	    font-size: 48px;
	    line-height: 35px;
	}

	.content__title_little {
	    font-size: 38px;
	    line-height: 35px;
	}

	.content__caption {
		margin-top: 30px;
	}

	.content__text:before {
		content: none;
	}

	.content__text:after {
		content: none;
	}

	.content__link {
		margin-top: 15px;
	}

	.product {
		background: #fff;
		text-align: center;
		padding: 20px 0 30px 0;
	}

	.product h1 {
		padding: 20px 0;
	}

	.product__form {
		display: block;
	}

	.form {
    	margin: 20px 0;
	}

	.form__input,
	.form__btn {
		display: block;
		width: 350px;
		height: 40px;
		margin: 0 auto 15px auto;
		max-width: 100%;
	}

	.alert {
		width: 350px;
		margin: 0 auto;
		padding: 12px 0 12px 12px;
		text-align: left;
		max-width: 100%;
	}

	.alert__img, .alert__wrapper-text {
		display: inline-block;
	}


	.product__inner {
		padding-top: 30px;
	}

	.accordion {
		margin-bottom: 20px;
	}

	.accordion__btn_number {
		font-size: 14px;
		margin-right: 20px;
	}

	.accordion__btn_title {
		max-width: 400px;
	}

	.accordion__btn {
	    font-size: 14px;
	    padding: 16px 30px 15px 30px;
	}

	.accordion__btn_trigger {
    	right: 15px;
	}

	.accordion__content {
		padding: 20px 55px;
	    font-size: 13px;
	    line-height: 20px;
	}

	.accordion__content_img img {
		width: 180px;
	}

	.certificates__text {
	    font-size: 16px;
	    line-height: 25px;
	}

	.video {
		padding-bottom: 25px;
	}

	.video img {
		width: 300px;
	}

	.video__wrapper {
		margin-bottom: 0;
	}

	.video__item {
		margin-bottom: 25px;
	}

	.video__caption {
		margin-top: 8px;
	}

	.articles {
		padding-bottom: 40px;
	}

	.articles__right {
		text-align: center;
	}

	.articles__head {
		margin-top: 8px;
	}

	.articles__date {
		margin: 8px 0;
	}

	.articles__text {
		line-height: 20px;
	}

	.articles__link {
		margin-top: 10px;
	}

	.article {
		padding-bottom: 40px;
	}

	.article__motivation {
		margin-bottom: 20px;
	}

	.article__img_caption {
		font-size: 13px;
		line-height: 22px;
		margin: 10px 0 20px 0;
	}

	.article__text {
	    font-size: 14px;
	    line-height: 22px;
	    margin-bottom: 15px;
	}

	.article__text_margin {
		margin-bottom: 10px;
	}	

	.article__title_little {
		font-size: 18px;
    	padding: 30px 0 20px 0;
	}

	.docs__gallery {
		background: #f6f6f6;
	    -webkit-background-size: inherit;
	    background-size: inherit;
	    padding-top: 85px;
	    padding-bottom: 35px;
	}

	.docs__gallery_item {	
		margin-bottom: 30px;
	}

	.footer__img {
		display: none;
	}

	.footer__left,
	.footer__right {
		text-align: center;
	}
}

@media screen and (max-width: 580px) {
	.certificates__text {
		white-space: normal;
	}

	.docs__gallery_item {
		width: 100%;
		float: none;
	}

	.accordion__content_img img {
		display: block;
		margin: 20px auto 0 auto !important;
	}

	.partners__inner .col-xs-6 {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {	
	.header-docs {
		padding: 25px 0 10px 0;
	}

	.content__img {
		max-width: 60%;
	}

	.content__caption {
		font-size: 13px;
	}

	.content__text {
		font-size: 14px;
	}

	.content__title  {
	    font-size: 40px;
	    line-height: 32px;
	}

	.content__title_little {
	    font-size: 30px;
	    line-height: 32px;
	}

	.alert__img {
		margin-right: 12px;
	}

	.alert__title,
	.alert__text {
		font-size: 14px;
		line-height: 16px;
	}

	.partners {
    	padding-bottom: 30px;
	}

	.accordion__btn {
	    font-size: 14px;
	    padding: 16px 20px 14px 20px;
	}

	.accordion__btn_title {
	    max-width: 190px;
	}

	.accordion__btn_trigger {
	    background-size: 12px;
	    right: 10px;
	}

	.accordion__content {
		padding: 15px 30px;
	}

	.accordion__btn_number {
		margin-right: 7px;
	}

	.certificates__text {
	    font-size: 15px;
	    line-height: 20px;
	    text-align: justify;
	}

	.video {
		padding-bottom: 20px;
	}

	.video__caption {
		font-size: 14px;
		line-height: 20px;
	}

	.articles__head {
		font-size: 16px;
	}

	.article {
		padding-bottom: 30px;
	}

	.article__motivation {
		margin-bottom: 15px;
	}

	.article__img_caption {
		margin: 10px 0 20px 0;
	}

	.article__text {
	    font-size: 13px;
	    line-height: 20px;
	}

	.article__text_margin {
		margin-bottom: 0;
	}	

	.article__title_little {
		font-size: 18px;
    	padding: 30px 0 20px 0;
	}

	.docs__gallery {
	    padding-top: 60px;
	    padding-bottom: 20px;
	}

	.docs__gallery_item {	
		margin-bottom: 20px;
	}

	.footer {
		padding: 35px 0;
	}

	.footer__left_text,
	.footer__right_text,
	.footer__link {
		font-size: 13px;
	}	

	#vk_like {
		margin: 0 auto;
	}
}