/* Header */

.header {
    padding-bottom: 2rem;
}

.header__inner {
    text-align: center;
    position: relative;
}
.header__nav {
    width: 100%;
    position: relative;
    white-space: nowrap;
}

.header__nav-link {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: none;
}

.header__nav-link.active {
    background: #bb561d;
    border: 1px solid #f5b484;
}

.header__nav-link:not(.header__logo) {
    margin: 0 50px;
}

.header__nav-link:first-child {
    margin-left: 0;
}
.header__nav-link:last-child {
    margin-right: 0;
}

.header__logo img {
    max-width: 190px;
}

/* Search */

.search__input-box {
    position: relative;
    height: 50px;
}

.search__input-box span {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
    width: 20px;
    height: 20px;
}

.search__input {
    width: 100%;
    background: #211d1c;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: .6rem;
    color: #ffffff80;
    font-size: 1.4rem;
    font-weight: 500;
    height: 100%;
    line-height: 17px;
    max-height: 6rem;
    opacity: 1;
    padding: 2rem 2rem 2rem 5rem;
}

/* Content */

.content__inner {
    background: #211d1c;
    border-radius: 14px;
    margin: 5rem auto 0;
    padding: 24px;
    position: relative;
    width: 100%;
    z-index: 3;
}

.main-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 465px;
    border: 1px solid #3e3029;
    border-radius: 12px;
}

.main-slider__inner {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0;
    transition: margin-left .3s ease;
}

.main-slider__item {
    display: inline-block;
    width: 100%;
    height: 465px;
    vertical-align: top;
    border: 1px solid #3e3029;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    min-width: 100%;
    overflow: hidden;
}

.main-slider__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(15, 16, 18, 0.00) 42.53%, rgba(15, 16, 18, 0.70) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    z-index: 1;
}

.main-slider__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_info {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 40px;
    z-index: 2;
}
.main_info h1 {
    text-shadow: 2px 2px 5px black;
}
.main_tags {
    margin: 3rem 0;
}
.main_info__title {
    font-size: 2.6rem;
    line-height: 3.1rem;
}
.main_info__mini-title {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.6rem;
}
.movie_btns {
    margin-top: 4rem;
}

.main-slider__pagination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    z-index: 3;
}

.main-slider__pagination-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #f3f4f6;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-slider__pagination-item.active {
    background-color: #22c55e;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    background: #d0ac904d;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}

.tag + .tag {
    margin-left: 1.6rem;
}

.btn {
    background: #bb561d;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 1rem 1.4rem;
    position: relative;
    transition: .3s;
    white-space: nowrap;
    display: inline-block;
}

.btn:hover {
    background: #f5b484;
}

.btn__left-icon {
    margin-right: 10px;
}

.btn span {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.btn.transparent_white {
    background: transparent;
    border: 1px solid #f5b484;
    box-shadow: none;
    color: #ffffff;
    padding: 0;
}

.btn.transparent_white:hover {
    background: rgba(208, 172, 144, 0.16);
    color: #ffffff;
}

.btn.large {
    padding: 1.4rem 3.4rem;
    border-radius: 6px;
}

.btn.square {
    padding: 1.4rem;
}

.btn[disabled] {
    color: #ffffff;
    cursor: default;
    opacity: .4;
}

.main_text-main {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-top: 4rem;
}

.content__categories-box {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.movies_slider {
    margin-top: 6rem;
}

.movies_title {
    color: #ffffff;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.1rem;
    margin-bottom: 1rem;
}

.slider-wrapper {
    position: relative;
}

.slider-container {
    width: 100%;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.slider-content {
    width: 100%;
    white-space: nowrap;
    padding-bottom: 20px;
    transition: margin-left .3s ease;
}

.slide {
    display: inline-block;
    width: 208px;
    margin-right: 20px;
    vertical-align: top;
    cursor: pointer;
    transition: scale .3s ease;
}

.slide:hover {
    scale: 1.05;
}

.slide__img {
    height: 314px;
    border: 1px solid #f5b484;
    border-radius: 6px;
}

.slide__title {
    color: #ffffff;
    margin-top: 1.4rem;
    text-align: center;
    white-space: normal;
}

.slider-btn {
    display: inline-block;
    background: #07080899;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    height: 5rem;
    position: absolute;
    top: 32%;
    width: 5rem;
    transition: opacity .3s ease;
    z-index: 10;
}

.slider-btn:hover {
    opacity: 0.9;
}

.slider-btn img {
    vertical-align: middle;
}

.prev_btn {
    left: -5px;
    rotate: 180deg;
}

.next_btn {
    right: 5px;
}

/* Footer */

.footer {
    background: #171514;
    padding-top: 10rem;
    position: relative;
    width: 100%;
    z-index: 1;
}

.footer:before {
    background: url(https://og.movie/images/footer_bg.png) no-repeat top;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    margin: 24px 24px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.footer__top {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgba(208, 171, 144, 0.26);
    padding-bottom: 8rem;
}

.footer__left,
.footer__right {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 10px);
    padding: 0 20px;
}

.footer__bottom {
    width: 100%;
    color: #716f6e;
    font-size: 1.6rem;
    padding: 5rem 0;
}

.footer__bottom-left {
    width: 28%;
}

.footer__bottom-left,
.footer__bottom-right {
    display: inline-block;
    vertical-align: middle;
}

.footer__bottom-right {
    width: 70%;
    margin-left: auto;
    text-align: right;
}

.footer__bottom-right li {
    display: inline-block;
    margin-left: 32px;
}

.footer__bottom-right li:first-child {
    margin-left: 0;
}

.footer__bottom-right li a {
    color: #716f6e;
    font-size: 1.6rem;
    text-decoration: none;
}

.footer_logo {
    text-align: center;
}

.footer__left-content {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 50rem;
    text-align: center;
}

.footer__right-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #bb561d;
    margin-bottom: 3.6rem;
}

.footer__right-subtitle {
    font-size: 1.8rem;
    margin-bottom: 2.8rem;
    cursor: pointer;
}

.footer__right-subtitle--subitems {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    opacity: .6;
    cursor: pointer;
}

.footer__right-item {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 40px);
    margin-right: 32px;
}

.footer__right-item:last-child {
    margin-right: 0;
}

/* Film */

.breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.6;
    cursor: pointer;
}

.breadcrumbs__item:not(:last-child)::after {
    content: '/';
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.breadcrumbs__item:hover {
    text-decoration: underline;
}

.film-content__inner {
    margin-top: 4rem;
}

.view-main {
    font-size: 0;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.view-main__image,
.view-main__details {
    display: inline-block;
    vertical-align: top;
}

.view-main__image {
    width: calc(28% - 2.5rem);
    border: 1px solid rgba(208, 171, 144, 0.26);
    border-radius: 6px;
    margin-right: 5rem;
    overflow: hidden;
}

.view-main__details {
    width: calc(72% - 2.5rem);
}

.view-main__title {
    font-size: 3.4rem;
    line-height: 140%;
    font-weight: 700;
    color: #ffffff;
}

.view-main__subtitle {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}

.view-main__rating {
    display: inline-block;
    background: rgba(25, 25, 30, 0.41);
    border: 1px solid grey;
    border-radius: 9px;
    padding: 3rem 5.4rem;
    margin-bottom: 72px;
}

.view-main__rating p,
.view-main__rating img {
    display: inline-block;
    vertical-align: middle;
}

.view-main__rating p {
    font-weight: 500;
    font-size: 32px;
}

.view-main__rating img {
    margin-right: 1.8rem;
    max-height: 40px;
}

.view-main__category {
    display: inline;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.view-main__category:not(:last-child)::after {
    content: ',';
    margin-right: 0.6rem;
}

.view-main__tags, .view-main__categories {
    margin-top: 2.8rem;
}

.view-series {
    margin-top: 10rem;
    width: 100%;
}

.view-player {
    width: 100%;
    margin-top: 4rem;
}

.view-player .iframe-container {
    position: relative;
    width: 100%;
    min-height: 500px;
}

.view-player .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view-suggestions {
    width: 100%;
    margin: 10rem 0;
}

.view-main__controls {
    margin: 5.4rem 0 0;
}

.view-main__controls .btn + .btn {
    margin-left: 2.2rem;
}

.view-main__description-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1.6rem;
}

.view-main__description-text {
    font-size: 1.6rem;
    line-height: 140%;
    color: #ffffff;
}

.view-main__more {
    color: #f5b484;
    margin-top: 1rem;
    cursor: pointer;
    z-index: 3;
}

.view-main__more p,
.view-main__more img {
    display: inline-block;
    vertical-align: middle;
}

.view-main__more p {
    color: #F5B484;
}

.page_watch_text {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 9.8rem;
}

.view-player {
    width: 100%;
    margin-top: 4rem;
}

.view-player .iframe-container {
    position: relative;
    width: 100%;
    min-height: 50rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.02);
}

.view-player .iframe-container h1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 50rem;
}

.view-player .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.problem_request {
    background-color: rgba(255, 255, 255, 0.02);
    margin-top: 5rem;
    margin-bottom: 8rem;
    width: 100%;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}

.problem_request__title,
.problem_request__button {
    display: inline-block;
    vertical-align: middle;
}

.problem_request__button {
    color: #f5b484;
    margin-left: 10px;
    cursor: pointer;
}

.ql-snow .ql-toolbar button, .ql-snow.ql-toolbar button {
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    padding: 3px 5px;
    background-color: #d0ac901f;
    border-radius: 4px;
    height: 4rem;
    width: 4rem;
}

.feedback {
    margin: 40px 0 0;
    padding: 4rem 5rem;
    width: 100%;
    background: #211d1c;
    position: relative;
    border-radius: 14px;
}

.feedback__title {
    font-size: 2.4rem;
    line-height: 140%;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1.4rem;
}

.ql-snow.ql-toolbar .ql-spoiler {
    width: auto;
    padding: 3px 12px;
}

.ql-spoiler img,
.ql-spoiler span {
    display: inline-block;
    vertical-align: middle;
}

.ql-spoiler span {
    font-size: 1.4rem;
    color: #ffffff;
    margin-left: 6px;
}

.spoiler {
    color: #E53935;
    font-size: 14px;
}

.ql-toolbar.ql-snow {
    background: #211d1c;
    border: none;
    border-radius: 0;
    display: flex;
    gap: 8px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-top: 16px;
    position: relative;
    z-index: 3;
}

.ql-container.ql-snow {
    background-color: #d0ac901f;
    border: 1px solid rgba(208, 171, 144, 0.26);
    border-radius: 6px;
    max-height: 13rem;
    min-height: 13rem;
}

.ql-editor {
    box-sizing: border-box;
    height: 100%;
    line-height: 1.42;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.ql-snow .ql-tooltip input {
    border: 1px solid #d1d5db;
    display: none;
    font-size: 13px;
    height: 26px;
    margin: 0;
    padding: 3px 5px;
    width: 170px;
}

.ql-snow.ql-toolbar button:hover {
    color: #4b5563;
}

.feedback__send {
    margin-bottom: 40px;
    padding-top: 16px;
}

.feedback_container {
    border-top: 1px solid rgba(208, 171, 144, 0.26);
    padding-top: 30px;
}

.feedback__empty {
    border-bottom: 1px solid rgba(208, 171, 144, 0.26);
    color: #ffffff80;
    font-size: 18px;
    padding: 6rem 0 9rem;
    text-align: center;
}