/* Header */

.header {
    padding-bottom: 2rem;
}

.header__inner {
    text-align: center;
    position: relative;
}
.header__nav {
    width: 100%;
    position: relative;
    white-space: nowrap;
}

.header__nav-link {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: none;
}

.header__nav-link.active {
    background: #bb561d;
    border: 1px solid #f5b484;
}

.header__nav-link:not(.header__logo) {
    margin: 0 50px;
}

.header__nav-link:first-child {
    margin-left: 0;
}
.header__nav-link:last-child {
    margin-right: 0;
}

.header__logo img {
    max-width: 190px;
}

/* Search */

.search__input-box {
    position: relative;
    height: 50px;
}

.search__input-box span {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 20px;
    width: 20px;
    height: 20px;
}

.search__input {
    width: 100%;
    background: #211d1c;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: .6rem;
    color: #ffffff80;
    font-size: 1.4rem;
    font-weight: 500;
    height: 100%;
    line-height: 17px;
    max-height: 6rem;
    opacity: 1;
    padding: 2rem 2rem 2rem 5rem;
}

/* Content */

.content__inner {
    background: #211d1c;
    border-radius: 14px;
    margin: 5rem auto 0;
    padding: 24px;
    position: relative;
    width: 100%;
    z-index: 3;
}

.main-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 465px;
    border: 1px solid #3e3029;
    border-radius: 12px;
}

.main-slider__inner {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0;
    transition: margin-left .3s ease;
}

.main-slider__item {
    display: inline-block;
    width: 100%;
    height: 465px;
    vertical-align: top;
    border: 1px solid #3e3029;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    min-width: 100%;
    overflow: hidden;
}

.main-slider__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(15, 16, 18, 0.00) 42.53%, rgba(15, 16, 18, 0.70) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    z-index: 1;
}

.main-slider__item-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_info {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 40px;
    z-index: 2;
}
.main_info h1 {
    text-shadow: 2px 2px 5px black;
}
.main_tags {
    margin: 3rem 0;
}
.main_info__title {
    font-size: 2.6rem;
    line-height: 3.1rem;
}
.main_info__mini-title {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.6rem;
}
.movie_btns {
    margin-top: 4rem;
}

.main-slider__pagination {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    z-index: 3;
}

.main-slider__pagination-item {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: #f3f4f6;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-slider__pagination-item.active {
    background-color: #22c55e;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    background: #d0ac904d;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}

.btn {
    background: #bb561d;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 1rem 1.4rem;
    position: relative;
    transition: .3s;
    white-space: nowrap;
    display: inline-block;
}

.btn span {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.main_text-main {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-top: 4rem;
}

.content__categories-box {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.movies_slider {
    margin-top: 6rem;
}

.movies_title {
    color: #ffffff;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.1rem;
    margin-bottom: 1rem;
}

.slider-wrapper {
    position: relative;
}

.slider-container {
    width: 100%;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.slider-content {
    width: 100%;
    white-space: nowrap;
    padding-bottom: 20px;
    transition: margin-left .3s ease;
}

.slide {
    display: inline-block;
    width: 208px;
    margin-right: 20px;
    vertical-align: top;
    cursor: pointer;
    transition: scale .3s ease;
}

.slide:hover {
    scale: 1.05;
}

.slide__img {
    height: 314px;
    border: 1px solid #f5b484;
    border-radius: 6px;
}

.slide__title {
    color: #ffffff;
    margin-top: 1.4rem;
    text-align: center;
    white-space: normal;
}

.slider-btn {
    display: inline-block;
    background: #07080899;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    height: 5rem;
    position: absolute;
    top: 32%;
    width: 5rem;
    transition: opacity .3s ease;
    z-index: 10;
}

.slider-btn:hover {
    opacity: 0.9;
}

.slider-btn img {
    vertical-align: middle;
}

.prev_btn {
    left: -5px;
    rotate: 180deg;
}

.next_btn {
    right: 5px;
}

/* Footer */

.footer {
    background: #171514;
    padding-top: 10rem;
    position: relative;
    width: 100%;
    z-index: 1;
}

.footer:before {
    background: url(https://og.movie/images/footer_bg.png) no-repeat top;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    margin: 24px 24px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.footer__top {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid hsla(26, 41%, 69%, .16);
    padding-bottom: 8rem;
}

.footer__left,
.footer__right {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 10px);
    padding: 0 20px;
}

.footer__bottom {
    width: 100%;
    color: #716f6e;
    font-size: 1.6rem;
    padding: 5rem 0;
}

.footer__bottom-left {
    width: 28%;
}

.footer__bottom-left,
.footer__bottom-right {
    display: inline-block;
    vertical-align: middle;
}

.footer__bottom-right {
    width: 70%;
    margin-left: auto;
    text-align: right;
}

.footer__bottom-right li {
    display: inline-block;
    margin-left: 32px;
}

.footer__bottom-right li:first-child {
    margin-left: 0;
}

.footer__bottom-right li a {
    color: #716f6e;
    font-size: 1.6rem;
    text-decoration: none;
}

.footer_logo {
    text-align: center;
}

.footer__left-content {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 50rem;
    text-align: center;
}

.footer__right-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #bb561d;
    margin-bottom: 3.6rem;
}

.footer__right-subtitle {
    font-size: 1.8rem;
    margin-bottom: 2.8rem;
    cursor: pointer;
}

.footer__right-subtitle--subitems {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    opacity: .6;
    cursor: pointer;
}

.footer__right-item {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 40px);
    margin-right: 32px;
}

.footer__right-item:last-child {
    margin-right: 0;
}